body {
  background: linear-gradient(#3a4660, #c9af98);
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: green;
  border-width: 5px;
  width: 10%;
}

h1 {
  font-family: "Comic Sans MS";
  color: green;
}

h4 {
  color: green;
}

.dp {
  border-radius: 100%;
}
